<mat-grid-list cols="3" rowHeight="100px">
  <mat-grid-tile><h2>Product</h2></mat-grid-tile>
  <mat-grid-tile><h2>Directions (SIG) & Quantity</h2></mat-grid-tile>
  <mat-grid-tile><h2>Refills</h2></mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="3" rowHeight="200px">
  <mat-grid-tile>
    <div class="checkbox-container">
      <mat-checkbox
        #checkbox500
        (change)="checkbox300or.checked = false"
        (change)="checkbox300.checked = false"
        >Drug 500ml</mat-checkbox
      >
      <mat-checkbox
        #checkbox300
        (change)="checkbox300or.checked = false"
        (change)="checkbox500.checked = false"
        >Drug 300ml</mat-checkbox
      >
      <mat-checkbox
        #checkbox300or
        (change)="checkbox500.checked = false"
        (change)="checkbox300.checked = false"
        >Drug 300ml Orally</mat-checkbox
      >
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="direction-container">
      <div
        *ngIf="
          checkbox500.checked && !checkbox300.checked && !checkbox300or.checked
        "
        class="directions-500"
      >
      <form [formGroup]="form500">

      </form>
        <mat-checkbox
          >SIG: Take 3 tablets, by mouth, once daily; Dispense Quantity:
          #90</mat-checkbox
        >
        <mat-checkbox>Other</mat-checkbox>
        <form class="example-form">
          <mat-form-field appearance="outline">
            <mat-label>Other</mat-label>
            <input matInput >
          </mat-form-field>
        </form>
      </div>
      <div
        *ngIf="
          !checkbox500.checked && checkbox300.checked && !checkbox300or.checked
        "
        class="directions-300"
      >
        <mat-checkbox
          >SIG: Take 2 tablets (600mg), by mouth, once daily; Dispense Quantity:
          #60</mat-checkbox
        >
        <mat-checkbox
          >SIG: Take 3 tablets (900mg), by mouth, once daily; Dispense Quantity:
          #90</mat-checkbox
        >
        <mat-checkbox>Other</mat-checkbox>
        <form class="example-form">
          <mat-form-field appearance="outline">
            <mat-label>Other</mat-label>
            <input matInput >
          </mat-form-field>
        </form>
      </div>
      <div
        *ngIf="
          !checkbox500.checked && !checkbox300.checked && checkbox300or.checked
        "
        class="directions-300or"
      >
        <mat-checkbox
          >SIG: Prepare dose, 2 tablets (600mg), as directed and take by mouth
          once daily; Dispense Quantity: #60</mat-checkbox
        >
        <mat-checkbox
          >SIG: Prepare dose, 3 tablets (900mg), as directed and take by mouth
          once daily; Dispense Quantity: #90</mat-checkbox
        >
        <mat-checkbox>Other</mat-checkbox>
        <form class="example-form">
          <mat-form-field appearance="outline">
            <mat-label>Other</mat-label>
            <input matInput >
          </mat-form-field>
        </form>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="refills-container">
      <mat-checkbox>As needed for 1 year</mat-checkbox>
      <mat-checkbox>Zero refills</mat-checkbox>
      <mat-checkbox>Other</mat-checkbox>
      <form class="example-form">
        <mat-form-field appearance="outline">
          <mat-label>Other</mat-label>
          <input matInput >
        </mat-form-field>
      </form>
    </div>
  </mat-grid-tile>
</mat-grid-list>
