.checkbox-container {
  display: flex;
  flex-direction: column;
}
.refills-container {
  display: flex;
  flex-direction: column;
}
.direction-container {
  display: flex;
  flex-direction: column;
}
